<h1>Listing ruby_sync_ups</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ruby_sync_ups.each do |ruby_sync_up| %>
  <tr>
    <td><%= ruby_sync_up.Title %></td>
    <td><%= ruby_sync_up.Description %></td>
    <td><%= link_to 'Show', ruby_sync_up %></td>
    <td><%= link_to 'Edit', edit_ruby_sync_up_path(ruby_sync_up) %></td>
    <td><%= link_to 'Destroy', ruby_sync_up, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ruby sync up', new_ruby_sync_up_path %>
