<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ruby_sync_up.Title %>
</p>

<p>
  <b>Description:</b>
  <%= @ruby_sync_up.Description %>
</p>


<%= link_to 'Edit', edit_ruby_sync_up_path(@ruby_sync_up) %> |
<%= link_to 'Back', ruby_sync_ups_path %>
